################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Billingares/.vs
/Billingares/Billingares.Base/obj
/Billingares/Billingares.Base/bin
/Billingares/Billingares.App/bin
/Billingares/Billingares.App/obj
/Billingares/Ujeby.Blazor.Base/bin
/Billingares/Ujeby.Blazor.Base/obj
/Billingares/Billingares.WebApi/bin
/Billingares/Billingares.WebApi/obj
/Billingares/Billingares.Api.Client/bin
/Billingares/Billingares.Api.Client/obj
/Billingares/Ujeby.Api.Base/obj
/Billingares/Ujeby.Api.Base/bin
/Billingares/Ujeby.Api.Client.Base/bin
/Billingares/Ujeby.Api.Client.Base/obj
/Billingares/Deploy/*.tar