################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Billingares/.vs
/Billingares/Billingares.Base/obj
/Billingares/Billingares.Base/bin
/Billingares/Billingares.App/bin
/Billingares/Billingares.App/obj
/Billingares/Ujeby.Blazor.Base/bin
/Billingares/Ujeby.Blazor.Base/obj
/Billingares/Billingares.App/billingares.app.dock.tar
/Billingares/Billingares.WebApi/bin/Debug/net6.0
/Billingares/Billingares.WebApi/obj
