################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Billingares/Billingares.Base/obj
/Billingares/Billingares.Base/bin/Debug/net6.0
/Billingares/Billingares.Base/Billingares.Base.csproj
/Billingares/.vs/Billingares/v17
/.vs
