@page "/"

<PageTitle>Billingares</PageTitle>

<h1>Billingares</h1>

<Billingares.App.Components.ClaimsComponent />

<Billingares.App.Components.TransactionsComponent />

<Billingares.App.Components.TransactionMatrixComponent />