@page "/"

<PageTitle>Billingares</PageTitle>

<h1>Billingares</h1>

<MudGrid>
	<MudItem xs="12">
		<Billingares.App.Components.ClaimsComponent />
	</MudItem>
	<MudItem xs="12">
		<Billingares.App.Components.TransactionsComponent />
	</MudItem>
</MudGrid>